
.icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
.container {
    position: absolute;
    text-align: center;
    color: #000000;
}
.bottom-center {
    position: relative;
    bottom: 100px;
    left: 50%;
}

body {
    width: 100wh;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
    table-layout: fixed;
}

td {
    border: 1px solid #000000;
    text-align: left;
    padding: 10px;

}

th {
    border: 1px solid #000000;
    text-align: center;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #0178ff; 
    table-layout: fixed;
}

ul li {
    display: block;
    position: relative;
    float: left;
    background: #0178ff;
    z-index: 9;
    table-layout: fixed;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    z-index: 9;
}

ul li a:hover {
    background: #2c3e50;
}

li:hover>ul {
    display: block;
    position: absolute;
    z-index: 9;
}

li:hover li {
    float: none;
}

li:hover a {
    background: #0178ff;
}

li:hover li a:hover {
    background: #2c3e50;
}

.main-navigation li ul li {
    border-top: 0;
}

ul ul ul {
    left: 100%;
    top: 0;
}

ul:before,
ul:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

ul:after {
    clear: both;
}

.ward {
    column-count: 2;
}

.ward2 {
    column-count: 3;
}

#buttons li {
    float: none;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin: auto;
    width: 250px;
    line-height: 25px;
}

#buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #ff7b00;
}

svg {
    height: 80%;
    z-index: 10;

}

tbody {
    font-size: infinitepx;
}

th {
    font-size: 40px;
}

td {
    font-size: 35px;
}

input {
    width: 100%;
    height: 30px;
    border: 1px;
    border-radius: 2px;
    background-color: rgba(121, 121, 121, 0);
    color: rgb(0, 0, 0);
    font-size: 25px;
    padding-left: 2px;
    text-align: center;
    border-style: solid;

}


button {
    margin: 20px;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #20b0db;
    color: white;
    font-size: 18px;
    cursor: pointer;

}

object {

    justify-content: top;
    flex-direction: top;
    height: 100vh;
}

* {
    box-sizing: border-box;
}



/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 45%;
    right: 30%;
    border: 3px solid #1f1e1e;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 800px;
    padding: 10px 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=text] {
    width: 80%;
    padding: infinitepx;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    width: 95%;
    margin-bottom: 10px;
    opacity: 0.8;



    z-index: -10;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
    z-index: -10;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.animate {
    animation: blinker 3s linear infinite;
}

